# Tout les fichier caché
.*
*/.*

# Les point 'o'
src/*/*.o
src/*.o

# Les fichier resultat
src/jointure.txt
src/selection.txt
src/request.txt
src/resultat.txt
src/resultat.csv

# Executable
src/sql

Utiles/
# Pas tant que ça
indent.log

# Raport
rapport/rapport.aux
rapport/rapport.log
rapport/rapport.toc
rapport/rapport.pdf

soutenance/diapo.aux
soutenance/diapo.log
soutenance/diapo.nav
soutenance/diapo.out
soutenance/diapo.pdf
soutenance/diapo.snm
soutenance/diapo.toc